

<div>

    {% set current_user = session.get('current_user') %}
    <!-- set is a saved word for python it brings the session variable (here it's "current_user") to wherever i want  -->

    {% if current_user %}
        <span>Hello  {{current_user['firstname']}} {{current_user['lastname']}} </span>
        <span>|</span>
        <a href="{{url_for('auth_view.logout')}}">Logout</a>

    {% else %}
        <span>Hello Guest</span>
        <span>|</span>
        <a href="{{url_for('auth_view.login')}}">Login</a>
        <a href="{{url_for('auth_view.register')}}">Register</a>

    {% endif %}
</div>