{% extends "layout.html" %}

{% block title %} home {% endblock title %}


{% block content %}
<h2>Add Products</h2>
<hr>
<!-- enctype="multipart/form-data" we use it when we have images -->
<form method="post" class="fancy_form" required enctype="multipart/form-data"> 
    <label>Name:</label> 
    <input type="text" name="name" required  class="form-control" minlength="2" maxlength="100">
    <br><br>
    <label>Price:</label>
    <input type="number" name="price" required  step="0.01" class="form-control" min="0" max="10000">
    <br><br>
    <label>Stock:</label>
    <input type="number" name="stock"  required  class="form-control" min="0" max="10000">
    <br><br>
    <label>Image:</label>
    <input type="file" name="image"  accept="image/*" class="form-control">
    <br><br>
    <button class="btn btn-primary w-100">Add</button>
</form>

{% endblock content %}